@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   common styling starts
   ========================================================================== */

   :root {
    --main-color: #ffffff;
    --time: .2s ease-in-out;
  }

  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
  }

  .wrapper {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
  }

  li, a {
    display: inline-block;
    color: #ffffff;
  }

  a {text-decoration: none;}

  li {list-style-type: none;}

/* ==========================================================================
   common styling ends
   ========================================================================== */

/* ==========================================================================
   Header starts
   ========================================================================== */

  .header{
    width: 100%;
    border-top: 10px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.58);
  }

  .header .wrapper {
    width: calc(71% - 4px);
    padding: 20px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: flex-end;
  }

  .logo a {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 200;
    color: var(--main-color);
    text-transform: uppercase;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .logo a:hover {color: #E21A8E;}

  .header-media-icons {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 12px;
    text-transform: uppercase;
  }

  .header-media-icons li:not(:first-child) {margin-left: 5px;}

  .header-media-icons li:nth-child(2) {margin-left: 20px;}

  .search-bar {width: 15%;}

  input[type="search"] {
    width: 100%;
    border: none;
    background-color: #6d6e72;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  .media-icons {
    width: 23%;
    padding: 2px 0;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -40px;
    cursor: pointer;
  }

  .media-icons:hover {background-position: 0 -59px;}

  .menu li a {font-size: 14px;}

  .menu li a:hover {color: #E21A8E;}

  .menu li:nth-child(1) {
    width: 16px;
    background-image: url(/assets/images/home-icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
  }

  @media only screen and (min-width: 769px) {

    .menu li:nth-child(1):hover {
      background-image: url(/assets/images/sprite.png);
      background-position: 0 -17px;
    }
  
    .menu li:nth-child(2) {margin-left: 16px;}

    .menu li:not(:first-child):not(:last-child)::after {
      content: '|';
      margin: 0 8px;
      display: inline;
      font-size: 16px;
    }
  }

  .humburger-menu{
    display: none;
  }
/* ==========================================================================
   Header ends
   ========================================================================== */

/* ==========================================================================
   Banner starts
   ========================================================================== */

  .banner { 
    width: 100%;
    position: relative;
  }

  .banner-image img{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner .wrapper {
    width: 89%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .arrows {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .arrows li a {
    width: 10px;
    padding: 27px 10px;
    background-image: url(/assets/images/sprite.png);
    background-repeat: no-repeat;
  }

  .arrows .left-arrow a {background-position: 0 -160px;}

  .arrows .right-arrow a {background-position: -30px -160px;}

  .nav-disk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .nav-disk li a {
    width: 10px;
    padding: 10px 3px;
    background-repeat: no-repeat;
  }

  .nav-disk li:nth-child(1) a, 
  .nav-disk li:nth-child(3) a, 
  .nav-disk li:nth-child(4) a {background-image: url(/assets/images/ellipse.png);}
 
  .nav-disk li:nth-child(2) a {background-image: url(/assets/images/Ellipse2.png);}

/* ==========================================================================
   Banner ends
   ========================================================================== */

/* ==========================================================================
   portfolio starts
   ========================================================================== */

  .portfolio {width: 100%;}

  .portfolio .wrapper {
    width: calc(66% - 4px);
    padding: 40px 0 50px 0;
  }

  .port-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .port-images>li {
    position: relative;
    margin: 8px 5px;
  }

  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height:0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
  }
  
  .port-images>li:hover .overlay {
    bottom: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .text {
    color: #E21A8E;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }

  .text::after {
    content: url('/assets/images/home-content-hover.png');
    margin-left: 10px;
    display: inline-block;
  }

/* ==========================================================================
   portfolio ends
   ========================================================================== */

/* ==========================================================================
   Footer ends
   ========================================================================== */

  footer {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  footer .wrapper {
    width: calc(71% - 4px);
    padding: 25px 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer-media-icons, .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  .footer-media-icons {
    margin-bottom: 10px;
    font-size: 12px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

/* ==========================================================================
   Footer ends
   ========================================================================== */

/* ==========================================================================
   max width 1200 starts
   ========================================================================== */

   @media only screen and (max-width: 1200px) {
  
    .logo a {font-size: 25px;}
    .media-icons {width: 25%;}
    .menu li a {font-size: 12px;}
    /* .footer-media-icons .media-icons {width: 27%;} */
    /* .footbar .menu li a { font-size: 11px } */
  }

/* ==========================================================================
   max width 1200 ends
   ========================================================================== */

/* ==========================================================================
   max width 1024 starts
   ========================================================================== */

  @media only screen and (max-width: 1024px) {
    
    .header {border-top: 15px solid #000000;}

    .header .wrapper { width: calc(98% - 4px); }
  
    .logo a {font-size: 25px;}

    footer .wrapper {
      width: calc(95% - 4px);
      padding: 50px 0;
    }

    .copy-rights { font-size: 12px;}
    .footbar .menu li:not(:first-child):not(:last-child)::after{
      margin: 0 4px; 
      font-size: 12px;
    }
    
    .footer-media-icons .media-icons {width: 30%;} 
    .footbar .menu li a { font-size: 11px }
  }

/* ==========================================================================
   max width 1024 ends
   ========================================================================== */

/* ==========================================================================
   max-width 768 starts
   ========================================================================== */   

   @media only screen and (max-width: 768px) {

    .header {border-top: 6px solid #000000;}

    .header .wrapper {padding: 2px 0 0 0;}

    .logo a {
      font-size: 23px;
      margin-top: 20px;
    }

    .humburger-menu {
      width: 70%;
      display: inline-block;
    }

    .humburger-menu img {
      width: 23%;
      padding: 2px 0;
      background-image: url(../images/sprite.png);
      background-repeat: no-repeat;
      background-position: 0 -40px;
      cursor: pointer;
    }

    .navbar .menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: black;
    }

    .navbar .menu li:nth-child(1) {display: none;}

    .navbar .menu li { margin: 7px;}

    .search-bar, .media-icons, .footbar {display: none;}

    footer .wrapper {
      display: flex;
      justify-content: center;
    }

    .copy-rights {font-size: initial;}
  }

/* ==========================================================================
   max-width 768 ends
   ========================================================================== */
